<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Index</title>
</head>
<body>
    <h1>Welcome to Todo Application</h1>
    <div>
        <a href="/users/login">
            <button class="login-btn">Login</button>
        </a>
        <a href="/users/register">
            <button class="register-btn">Register</button>
        </a>
    </div>
</body>
</html>
